body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.thumbsContainer {
  display: flex;
  flexDirection: row;
  flexWrap: wrap;
  marginTop: 16
}

.thumb {
  display: inline-flex;
  borderRadius: 2;
  border: 1px solid #eaeaea;
  marginBottom: 8;
  marginRight: 8;
  width: 100;
  height: 100;
  padding: 4;
  boxSizing: border-box
}

.thumbInner {
  display: flex;
  minWidth: 0;
  overflow: hidden
}

.img {
  display: block;
  width: auto;
  height: 100%
}
